body {
  margin: 0;
  padding: 0;
  background-color: rgb(209, 206, 202);
  font-family: Arial, Helvetica, sans-serif;
}

.button-b1pages{
  background-color: rgb(65, 47, 47);
  padding: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 20px;
}

.button-b1pages:hover {
  background-color: #9e7662;
  color: rgb(24, 18, 18);
}

/* BUTTON*/

.button-alltags {
  background-color: rgb(214, 200, 200);
  padding: 10px;
  text-decoration: none;
  /* text-transform: uppercase; */
  color: rgb(0, 0, 0);
  border-radius: 5px;
}
.button-alltags:hover {
  background-color: #9e7662;
  color: white;
}

/* ALLTAGSDEUTSCH*/

#alltagsdeutsch-container {
  max-width: 1800px;
  margin: 0px auto;
}

#alltagsdeutsch-title-div {
  background-color: rgb(109, 73, 73);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
#alltagsdeutsch-title-div1 {
  background-color: rgb(109, 73, 73);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  margin-top: 10px;
}

.alltagsdeutsch-title {
  padding: 5px 0px;
  color: white;
}

.absatz-alltagsdeutsch {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.absatz-alltagsdeutsch:nth-child(even) {
  background-color: rgb(197, 194, 191);
}
.absatz-alltagsdeutsch1 {
  width: 50%;
  border-bottom: 1px dotted gray;
  border-right: 0.5px dotted gray;
  padding: 0px 5px;
  font-size: 19px;
}
.absatz-alltagsdeutsch2 {
  width: 50%;
  border-bottom: 1px dotted gray;
  padding: 0px 5px;
  font-size: 19px;
}

/* B1 Briefe*/

#b1briefe-container {
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
}
.b1briefe-container-1 {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}
.unter-menu-brief {
  background-color: rgb(195, 199, 199);
  border: 0.3px solid rgb(186, 180, 180);
  box-shadow: 1px 1px 1px rgb(71, 71, 71);
  width: 30%;
  /* height: 680px; */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.unter-menu-brief p {
  font-size: 17px;
}

/* B1 Wichtig Werben*/

#b1wichtigwerben-container {
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
}
#b1wichtigwerben-alt-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  
}
.unter-menu-wichtigwerb{
  background-color: rgb(195, 199, 199);
  border: 0.3px solid rgb(186, 180, 180);
  box-shadow: 1px 1px 2px rgb(71, 71, 71);
  width: 15%;
  /* height: 680px; */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.unter-menu-wichtigwerb p {
  font-size: 17px;
}
.unter-menu-wichtigwerb p:nth-child(1) {
  font-size: 22px;
  color: blueviolet;
}
.unter-menu-wichtigwerb p:nth-child(2) {
  border-bottom: 1px solid rgb(179, 174, 174);
  padding-bottom: 15px;
  font-style: italic;
}


/* Indem - Dadurch Dass*/

.unterstreichen {
  border-bottom: 0.5px solid rgb(87, 82, 82);
  width: 15%;
}
.unterstreichen-fett {
  border-bottom: 5px solid rgb(138, 132, 132);
}

#indem-container {
  max-width: 1800px;
  margin: 0px auto;
}
#indem-container p {
  font-size: 19px;
  line-height: 28px;
}
#indem-container p:nth-child(2) {
  font-size: 15px;
}

/* Konjunktion*/

#konjunktion-container {
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
}

.unterstreichen-konjunktion {
  border-bottom: 0.5px solid rgb(133, 126, 126);
  width: 90%;
  margin: 0 Auto;
}

.konjunktion-container-1 {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}
.unter-menu-konjunktion {
  background-color: rgb(195, 199, 199);
  border: 0.3px solid rgb(186, 180, 180);
  box-shadow: 1px 1px 1px rgb(71, 71, 71);
  width: 30%;
  /* height: 680px; */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;

}

.unter-menu-konjunktion p {
  font-size: 18px;
}
.unter-menu-konjunktion p:nth-child(1) {
text-align: center;
font-weight: bold;
font-size: 20px;
color: rgb(219, 64, 64);
}
.unter-menu-konjunktion p:nth-child(2) {
text-align: center;
font-weight: bold;
font-size: 20px;
}
.unter-menu-konjunktion p:nth-child(3) {
text-align: center;
font-weight: bold;
font-size: 20px;
}

/*Relativsätze - Relativpronomen*/

.unterstreichen2-konjunktion {
  border-bottom: 0.5px solid rgb(167, 163, 163);
  width: 15%;
}
.unterstreichen-fett {
  border-bottom: 5px solid rgb(138, 132, 132);
}
#indem-container {
  max-width: 1800px;
  margin: 0px auto;
}
#indem-container p {
  font-size: 20px;
  line-height: 28px;
}
.relativ-unter-title{
  color: rgb(59, 90, 30);
  font-size: 21px;
}



/*b1starkewerben - b1starkewerben*/

#b1starkewerben-container {
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
}
#b1starkewerben-unter-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  
}
.unter-menu-starkewerb{
  background-color: rgb(195, 199, 199);
  border: 0.3px solid rgb(186, 180, 180);
  box-shadow: 1px 1px 2px rgb(71, 71, 71);
  width: 17%;
  /* height: 680px; */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.unter-menu-starkewerb p {
  font-size: 17px;
}
.unter-menu-starkewerb p:nth-child(1) {
  font-size: 22px;
  color: blueviolet;
}
.unter-menu-starkewerb p:nth-child(2) {
  border-bottom: 1px solid rgb(179, 174, 174);
  padding-bottom: 15px;
  font-style: italic;
}

/* Zeitformen */


#zeitformen-container {
  max-width: 1800px;
  margin: 0px auto;
}
#zeitformen-container p {
  font-size: 19px;
  line-height: 28px;
}
#zeitformen-container p:nth-child(2) {
  font-size: 15px;
}

.zeitformen-unter-title{
  color: rgb(59, 90, 30);
  font-size: 21px;
}

.unterstreichen2-zeitformen {
  border-bottom: 0.5px solid rgb(167, 163, 163);
  width: 25%;
}
.unterstreichen-zeitformen {
  border-bottom: 0.5px solid rgb(167, 163, 163);
  width: 100%;
}

/* Zweiteilige Konnektoren */

.konnektoren-unter-title{
  color: rgb(59, 90, 30);
  padding: 10px 0px;
  font-size: 21px;
  border-bottom: 0.5px solid rgb(167, 163, 163);
  border-top: 0.5px solid rgb(167, 163, 163);
  border-color: rgb(59, 90, 30);
}
.unterstreichen-konnektoren-2{
  border-bottom: 1px solid rgb(196, 189, 189);
  width: 15%;

}






/* XX-Large Devices */
@media (max-width : 1900px) {
  #alltagsdeutsch-container {
    max-width: 1600px;
    margin: 0px auto;
  }
  .absatz-alltagsdeutsch1 {  
    font-size: 18px;
  }
  .absatz-alltagsdeutsch2 {    
    font-size: 18px;
  }
  .unter-menu-wichtigwerb{
    width: 19%;
  }  
  .unter-menu-starkewerb{
    width: 18%;  
  } 
  #indem-container {
    max-width: 1600px;
  }
  #indem-container p {
    font-size: 19px;
    line-height: 28px;
  }
  
  #zeitformen-container {
    max-width: 1600px;
  }
}


/* XX-Large Devices */
@media (max-width : 1600px) {
  #alltagsdeutsch-container {
    max-width: 1400px;
    margin: 0px auto;
  }
  .absatz-alltagsdeutsch1 {  
    font-size: 18px;
  }
  .absatz-alltagsdeutsch2 {    
    font-size: 18px;
  }
  .unter-menu-brief {    
    width: 40%;
  }  
  .unter-menu-brief p {
    font-size: 16px;
  }
  .unter-menu-wichtigwerb{
    width: 20%;
  }  
  .unter-menu-starkewerb{
    width: 20%;  
  }  
  #indem-container {
    max-width: 1400px;
  }
  #indem-container p {
    font-size: 18px;
    line-height: 28px;
  }
  #zeitformen-container {
    max-width: 1400px;
  }
  #zeitformen-container p {
    font-size: 18px;
  }  
}



/* X-Large Devices */
@media (max-width : 1400px) { 
  #alltagsdeutsch-container {
    max-width: 1200px;
    margin: 0px auto;
  }
  .alltagsdeutsch-title {
    font-size: 23px !important;
  }
  .absatz-alltagsdeutsch1 {  
    font-size: 17px;
  }
  .absatz-alltagsdeutsch2 {    
    font-size: 17px;
  }
  .unter-menu-brief {    
    width: 42%;
  }  
  .unter-menu-brief p {
    font-size: 16px;
  }  
  .unter-menu-wichtigwerb{
    width: 25%;
  }  
  .unter-menu-wichtigwerb p {
    font-size: 16px;
  }
  .unter-menu-wichtigwerb p:nth-child(1) {
    font-size: 21px;
    color: blueviolet;
  }
  .unter-menu-starkewerb{
    width: 25%;  
  }  
  .unter-menu-starkewerb p {
    font-size: 16px;
  }
  .unter-menu-starkewerb p:nth-child(1) {
    font-size: 21px;
    color: blueviolet;
  }  
  #indem-container {
    max-width: 1200px;
  }
  #indem-container p {
    font-size: 17px;
    line-height: 28px;
  }
  #zeitformen-container {
    max-width: 1200px;
  }
  #zeitformen-container p {
    font-size: 17px;
  }  
  .unter-menu-konjunktion {
    width: 45%;  
  }  
  .unter-menu-konjunktion p {
    font-size: 17px;
  }
  .unter-menu-konjunktion p:nth-child(1) {
  font-size: 19px;
  }
  .unter-menu-konjunktion p:nth-child(2) {
  font-size: 19px;
  }
  .unter-menu-konjunktion p:nth-child(3) {
  font-size: 19px;
  }
}


@media (max-width : 1200px) {  
  
  #alltagsdeutsch-container {
    max-width: 992px;
    margin: 0px auto;
  }
  .alltagsdeutsch-title {
    font-size: 22px !important;
  }
  .absatz-alltagsdeutsch1 {  
    font-size: 17px;
  }
  .absatz-alltagsdeutsch2 {    
    font-size: 17px;
  }
  .unter-menu-brief {    
    width: 60%;
  }  
  .unter-menu-brief p {
    font-size: 16px;
  }
  .unter-menu-wichtigwerb{
    width: 25%;
  }  
  .unter-menu-wichtigwerb p {
    font-size: 16px;
  }
  .unter-menu-wichtigwerb p:nth-child(1) {
    font-size: 21px;
    color: blueviolet;
  }
  .unter-menu-starkewerb{
    width: 25%;  
  }  
  .unter-menu-starkewerb p {
    font-size: 16px;
  }
  .unter-menu-starkewerb p:nth-child(1) {
    font-size: 21px;
    color: blueviolet;
  }
  #indem-container {
    max-width: 992px;
  }
  #indem-container p {
    font-size: 16px;
    line-height: 28px;
  }
  #zeitformen-container {
    max-width: 992px;
  }
  #zeitformen-container p {
    font-size: 16px;
  }  
}

@media (max-width : 992px) {
  
}

@media (max-width : 768px) {
  
}

@media (max-width : 576px) {
 
}


/*Small Devices */
@media (max-width : 375px) {

}