body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */

#header {
  display: flex;
  background-color: rgb(99, 92, 92);
  background-color: #4682b4;
  background-color: #383a3a;
  /* background-color: #635c5c; */
  margin-bottom: 0.5%;
  position: fixed;
  width: 100%;
}
#navbar {
  margin: 0 auto;
  width: 1500px;
  display: flex;
  justify-content: space-between;
}
#navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#navbar-logo p {
  color: black;
  font-size: 18;
  font-weight: bold;
}
#navbar-logo-span1 {
  color: #ffffff;
  font-size: 18px;
  text-shadow: 5px 5px 2px red;
  text-shadow: 2px 3px 5px black;
}
#navbar-logo-span2 {
  text-shadow: 2px 3px 5px black;
  color: #ffffff;
  font-size: 18px;
}
#navbar-logo-image {
  margin: 3px;
  /* margin-left: 50px; */
  width: 55px;
  height: 55px;
}
#navbar-list {
  display: flex;
}
#navbar-list ul {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
}
#navbar-list ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* color: black; */
  padding: 5px 12px;
  font-size: 15px;
  text-shadow: 1px 1px 1px black;
  display: block;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
#navbar-list ul li a:hover {
  background-color: rgb(11, 74, 126);
  background-color: rgb(33, 34, 36);
  /* color: #e2c58f; */
  border-radius: 3px;
  color: #84d19f; /* transition: background-color .25s ease-in-out, color .25s ease-in-out; */
  color: white;
  color: #c76363;
}
.navbar-icon {
  margin-right: 6px;
}
.navbar-list {
  margin-right: 50px;
  list-style-type: none;
}
#navbar-list ul li ul {
  display: none;
}
#navbar-list ul li:hover ul {
  background-color: rgb(11, 74, 126);
  background-color: rgb(33, 34, 36);
  display: inline-block;
  position: absolute;
  z-index: 1;
  color: white;
  padding-left: 0px;
  padding-top: 10px;
  width: 230px;
}
#submenu .fas {
  float: right;
}
#navbar-list ul li ul li:nth-child(1) ul {
  display: none;
}
#navbar-list ul li ul li:nth-child(1):hover ul {
  background-color: rgb(11, 74, 126);
  background-color: rgb(33, 34, 36);
  display: inline-block;
  position: absolute;
  z-index: 1;
  color: white;
  padding-left: 0px;
  /* padding-top: 10px; */
  left: 230px;
  top: 0px;
  width: 280px;
}
#navbar-list ul li ul li:nth-child(1):hover ul li a:hover {
  color: #c76363;
}
#navbar-list ul li ul li:hover ul li a {
  font-size: 15px;
}
#navbar-list ul li ul li a {
  font-size: 15px;
  border-bottom: 0.1px solid rgb(124, 120, 120);
}
#navbar-list ul li ul li a:hover {
  color: #c76363;
}
#navbar-list ul li ul li:nth-child(2) ul {
  display: none;
}

#navbar-list ul li ul li:nth-child(2):hover ul {
  background-color: rgb(11, 74, 126);
  background-color: rgb(33, 34, 36);
  display: inline-block;
  position: absolute;
  z-index: 1;
  color: white;
  padding-left: 0px;
  left: 230px;
  top: 50px;
  width: 280px;
}
#navbar-list ul li ul li:nth-child(2):hover ul li a:hover {
  color: #c76363;
}
#navbar-list ul li ul li:nth-child(3) ul {
  display: none;
}
#navbar-list ul li ul li:nth-child(3):hover ul {
  background-color: rgb(11, 74, 126);
  background-color: rgb(33, 34, 36);
  display: inline-block;
  position: absolute;
  z-index: 1;
  padding-left: 0px;
  left: 230px;
  top: 90px;
  width: 280px;
}
#navbar-list ul li ul li:nth-child(3):hover ul li a:hover {
  color: #c76363;
}
#navbar-list ul li > ul li {
  list-style-type: none;
}
#navbar-list ul li > ul li a {
  color: white;
  text-decoration: none;
}
#navbar-login {
  display: flex;
  align-items: center;
}
#navbar-login ul{
  display: flex;
  align-items: center;
}
#navbar-login ul li {
  background-color: #802525;
  padding: 10px 25px;
  border-radius: 5px;
  list-style-type: none;
}
#navbar-login ul li:hover {
  background-color: #ffffff;
}
#navbar-login ul li:hover a {
  color: #972424;
}
#navbar-login ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
}

.navbar-login-1 {
  margin-right: 10px;
}

/* ------------ MAIN ------------- */

/* Resimli Kisim*/
#main-container {
  padding-top: 80px;
}
.main-image {
  max-width: 1500px;
  margin: 0px auto 25px;
}
#image {
  border-radius: 8px;
  width: 100%;
  height: 750px;
}
#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: plum; */
  border: 1px solid green;
}
#menu button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 2px;
}
#menu p {
  text-align: center;
  background-color: plum;
  padding: 10px;
}
#b1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: red;
  padding: 10px;
}
#b2 {
  width: 30%;
  display: flex;
  flex-direction: column;
}
#c1 {
  width: 30%;
  display: flex;
  flex-direction: column;
}

/* Grammer Kismi*/

.grammer-menu {
  margin-top: 40px;
  padding: 80px 0px;
  max-width: 1500px;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  background-color: rgb(204, 204, 203);
  border-radius: 8px;
}

.container-grammer {
  border: 1px solid black;
  background-color: white;
}
/* .container-grammer:hover {
  transform: scale(100.5%);
  transition: transform 0.2s ease-in-out;
} */

.container-grammer img:hover {
  filter: blur(0.7px);
}

.grammatik-themen {
  padding: 0px 20px;
}

.grammatik-themen p a {
  text-decoration: none;
  color: black;
}
.grammatik-themen p a:hover {
  color: rgb(247, 1, 1);
  font-weight: bold;
  background-color: rgb(231, 216, 216);
  padding: 10px;
  width: 100%;
  border-radius: 8px;
}

.grammatik-themen-titel {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}

.unterstreichen {
  border-bottom: 0.5px solid rgb(211, 205, 205);
}

.button-menu {
  padding: 15px;
  /* margin: 0px 25px; */
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}
.button-menu a {
  text-decoration: none;
  color: black;
}
.button-menu:hover {
  background-color: #9e7662;
  color: white;
}

.button-menu a:hover {
  color: white;
}

/*Mobile Menu*/

.mobile-menu-container {
  background-color: rgb(216, 210, 210);
  max-width: 1500px;
  margin: 10px auto;
  height: 1100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.mobile-menu-title-1 {
  /* background-color: khaki; */
  text-shadow: 2px 3px 5px gray;
}
.mobile-menu-title-2 {
  padding: 0px 100px 20px;
  line-height: 35px;
  font-size: 19px;
  text-shadow: 1px 1px 10px rgb(192, 190, 190);
}
.mobile-menu {
  display: grid;
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: repeat(100, 1fr);
  gap: 5px;
}
.mobile-1 {
  grid-area: 1 / 1 / 50 / 25;
  display: flex;
}
.mobile-1 a {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.mobile-1 img {
  max-width: 80%;
  border-radius: 5px;
}
.mobile-1 img:hover {
  transform: scale(110%);
  transition: transform 0.2s ease-in-out;
}
.mobile-2 {
  grid-area: 1 / 26 / 50 / 75;
  display: flex;
  justify-content: center;
  height: 100%;
}
.mobile-2-alt {
  margin: auto 0px;
  background-color: #202125;
  padding: 20px;
  border-radius: 5px;
}
/* .mobile-2-alt:hover{
    transform: scale(110%);
    transition: transform .2s ease-in-out;
} */

.mobile-2-alt a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: wheat;
}
.mobile-3 {
  grid-area: 1 / 76 / 50 / 100;
  display: flex;
}
.mobile-3 a {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-3 img {
  max-width: 80%;
  border-radius: 5px;
}
.mobile-3 img:hover {
  transform: scale(110%);
  transition: transform 0.2s ease-in-out;
}

/*Form*/

.form-menu {
  margin-top: 10px;
  padding: 40px 0px;
  max-width: 1500px;
  margin: auto;
  background-color: rgb(189, 189, 127);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.form-menu-label {
  margin: 10px 0px;
}
.form-menu-label textarea {
  text-indent: 20px;
  font-size: 20px;
  border-radius: 5px;
}
.form-menu-label textarea::placeholder {
  font-size: 20px;
  padding-top: 2%;
}
.form-menu-label label input {
  border-radius: 5px;
  font-size: 18px;
}
.form-menu-label label input::placeholder {
  font-size: 18px;
}
.form-menu-label label {
  font-size: 18px;
  margin: 15px 0px;
}
.form-menu-label p {
  margin-top: 0px;
}
.form-name {
  width: 600px;
  padding: 13px;
  margin-top: 2px;
}

/* FOOTER */

.footer-menu {
  height: 150px;
  background-color: #222222;
  max-width: 1400px;
  margin: 10px auto 0px;
  padding: 20px 50px 0px;
  border-radius: 8px;
}
.footer-menu-alt {
  display: flex;
  justify-content: space-around;
}
.footer-container ul {
  margin: 20px 0px 0px;
  padding: 0px;
}
.footer-container-1 ul li a {
  text-decoration: none;
  font-size: 14px;
  color: grey;
}
.footer-container ul li {
  list-style-type: none;
  margin: 8px 0;
  padding: 0px;
  font-size: 14px;
  color: grey;
}
.sozialmedia {
  display: flex;
  gap: 10px;
  /* margin: 25px; */
}
.sozialmedia li a img {
  border-radius: 10px;
}
/* .sozialmedia li{
    margin: 0px 10px;
} */

.copyright {
  margin-bottom: -200px;
}
.copyright p {
  color: rgb(199, 195, 195);
}
.copyright p a {
  text-decoration: none;
  color: aqua;
}
#footer-list li a {
  text-decoration: none;
  color: rgb(199, 195, 195);
}
#footer-list li a:hover {
  color: aqua;
}


/* XX-Large Devices */
@media (max-width : 1600px) {
  #navbar {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
  }

  
  #navbar-logo-span1 {
    font-size: 16px;
  }
  #navbar-logo-span2 {
    font-size: 16px;
  }
  
  #navbar-list ul li a {
    padding: 5px 10px;
    font-size: 14px;
  }
  #navbar-list ul li ul li a {
    font-size: 14px;
  }
  #navbar-list ul li ul li:hover ul li a {
    font-size: 14px;
  }

   #navbar-login ul li {
    padding: 10px 15px;
  }
 
  #navbar-login ul li a {
    font-size: 14px;
  }

  .main-image {
    max-width: 1300px;
  }
  #image {
    border-radius: 8px;
    width: 100%;
    height: 650px;
  }
  .grammer-menu {
    max-width: 1300px;  
  }
  .container-grammer img{
    width: 355px;    
    height : 220px ;
  }
  .grammatik-themen p a {
    font-size: 16px;
  }
  .grammatik-themen-titel {
    font-size: 18px;    
  }
  .mobile-menu-container {
    max-width: 1300px;  
    height: 950px;
  }  
  .mobile-menu-title-1 {
    font-size: 32px !important;
  }
  .mobile-menu-title-2 {
    line-height: 30px;
    font-size: 17px !important;
  }  
  .mobile-1 img:hover {
    transform: scale(102%);
  }  
  .mobile-2-alt  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-2-alt  a img{
    width: 70% !important;
  }
  .mobile-2-alt  a p{
  font-size: 17px;}
  
  .mobile-3 img:hover {
    transform: scale(102%);
  }
  .form-menu {
    padding: 30px 0px;
  max-width: 1300px; 
  }
  .footer-menu {
    
    width: 1300px;
    padding: 20px 0px 0px;
  }
  .footer-menu-alt {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
  }
}

/* X-Large Devices */
@media (max-width : 1400px) {
  #navbar {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
  }
  #navbar-logo-span1 {
    font-size: 14px;
  }
  #navbar-logo-span2 {
    font-size: 14px;
  }
  #navbar-list ul li a {
    font-size: 13px;
    padding: 5px 5px;
  }
 
  #navbar-list ul li ul li a {
    font-size: 13px;
  }
  #navbar-list ul li ul li:hover ul li a {
    font-size: 13px;
  }
  
  #navbar-login ul li {
    padding: 10px 15px;
  }
 
  #navbar-login ul li a {
    font-size: 13px;
  }  

  .main-image {
    max-width: 1100px;
  }
  #image {
    width: 100%;
    height: 650px;
  }

  .grammer-menu {
    max-width: 1100px;  
  }
  .container-grammer img{
    width: 315px;    
    height : 220px ;
  }
  .grammatik-themen p a {
    font-size: 15px;
  }
  .grammatik-themen-titel {
    font-size: 17px;    
    }
  .mobile-menu-container {
    max-width: 1100px;  
    height: 900px;
  }

  .mobile-menu-title-1 {
    font-size: 30px !important;
  }
  .mobile-menu-title-2 {
    line-height: 30px;
    font-size: 16px !important;
  }

  .mobile-1 img:hover {
    transform: scale(102%);
  }

  .mobile-2-alt  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-2-alt  a img{
    width: 50% !important;
  }
  .mobile-2-alt  a p{
  font-size: 16px;}

  .mobile-3 img:hover {
    transform: scale(102%);
  }
  .form-menu {
    padding: 30px 0px;
    max-width: 1100px; 
  }
  .footer-menu {
    
    width: 1100px;
    padding: 20px 0px 0px;
  }
  .footer-menu-alt {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
  }
  .sozialmedia li a img {
    width: 25px !important;
    height: 25px !important;
  }

}

@media (max-width : 1200px) {
  #navbar {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
  }

  #navbar-logo-span1 {
    font-size: 15px;
  }
  #navbar-logo-span2 {
    font-size: 15px;
  }

  #navbar-list ul li a {
    font-size: 13px;
    padding: 1px 1px;

  }
  #navbar-list ul li ul li a {
    font-size: 13px;
  }
  #navbar-list ul li ul li:hover ul li a {
    font-size: 13px;
  }
  #navbar-list ul li:nth-child(3) {
    display: none;
  }

   #navbar-login ul li {
    padding: 5px 18px;
  }
 
  #navbar-login ul li a {
    font-size: 13px;
  }  

  .main-image {
    max-width: 1000px;
  }
  #image {
    width: 100%;
    height: 650px;
  }

  .grammer-menu {
    max-width: 1000px;  
  }
  .container-grammer img{
    width: 285px;    
    height : 220px ;
  }
  .grammatik-themen p a {
    font-size: 14px;
  }
  .grammatik-themen-titel {
    font-size: 16px;    
  }
 
  .mobile-menu-container {
    max-width: 1000px;  
    height: 800px;
  }
  
  .mobile-menu-title-1 {
    font-size: 30px !important;
  }
  .mobile-menu-title-2 {
    line-height: 30px;
    font-size: 16px !important;
  }
  
  .mobile-1 img:hover {
    transform: scale(102%);
  }
  
  .mobile-2-alt  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-2-alt  a img{
    width: 50% !important;
  }
  .mobile-2-alt  a p{
  font-size: 16px;
  }  
  .mobile-3 img:hover {
    transform: scale(102%);
  }
  .form-menu {
    padding: 30px 0px;
    max-width: 1000px; 
  }
  .footer-menu {
    
    width: 1000px;
    padding: 20px 0px 0px;
  }
  .footer-menu-alt {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
  }
  .sozialmedia li a img {
    width: 25px !important;
    height: 25px !important;
  }
  
}

@media (max-width : 992px) {
  
}

@media (max-width : 768px) {
  
}

@media (max-width : 576px) {
 
}


/*Small Devices */
@media (max-width : 375px) {
  #image {
    border-radius: 8px;
    max-width: 100%;
    height: 800px;
  }
  #navbar-list ul li:nth-child(1){
    display: none;
  }
  #navbar-list ul li:nth-child(3){
    display: none;
  }
  #navbar-list ul li:nth-child(4){
    display: none;
  }
  #navbar-login ul li {
    display: none;
  }
  .grammer-menu {
    display: flex;
    flex-direction: column;
  }


  .main-image {
    width: 100%;
    margin: 20px auto 25px;
  }
  #image {
    border-radius: 8px;
    width: 800px;
    height: 400px;
  } 

}
 


