body {
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://deutsch.uber.space/assets/brandenburger-tor3.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
.login-container{
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
/* .login-container-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0px;
    } 
    .login-container-image img{
    width: 70%;
    height: 50%;
    opacity: 0.9;
    border-radius: 8px;   
    } */

.login-container-form{
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height:35px;
    background-color: rgba(0, 0, 0, 0.9);
}

.login-title{
    width: 420px;
    margin-bottom: 35px;
}
.login-title-1{
    margin-bottom: 20px;
}
.login-title-2{
    color: rgb(204, 190, 190);
    margin-bottom: 40px;
}


.login-google-container{    
    display: flex;
    margin-bottom: 20px;
}
.login-google{
    display: flex;
    align-items: center;
    padding: 5px 120px;
    border-radius: 25px;
    border: 0.5px solid rgb(161, 157, 157);
}
.login-google img{
    margin-right: 20px;
}
.login-google a{
    font-weight: bold;
    color: white
}

#login-google{
    text-decoration: none;
}

.login-sign{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.login-sign p:nth-child(2){
    color: rgb(133, 128, 128);
    font-size: 14px;
    padding: 0px 25px;
}
.login-unterstreichen{
    border-bottom:  0.5px solid rgb(190, 187, 187);
    width: 119px;
}
.login-form-menu-label {
    margin: 10px 0px;
    width: 400px;
  }
  .login-form-menu-label label input {
    border-radius: 25px;
    font-size: 18px;
  }
  .login-form-menu-label label input::placeholder {
    font-size: 15px;
  }
  .login-form-menu-label label {
    font-size: 17px;
    margin: 18px 0px;
    color: white;
   }
  .login-form-name {
    width: 400px;
    padding: 13px;
    margin-top: 2px;
  }
  
  .passwort-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  .passwort-check input{
    margin-right: 5px;
    
}
  .passwort-check label{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    font-size: 16px;
    font-weight: bold;
    color: #7a6cd4;
}
.passwort-check a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    color: #7a6cd4;
  }
.login-button{
    display: inline-block;
    width: 430px;
    background-color: #5138EE;
    text-decoration: none;
    color: white;
    padding: 8px 0px;
    border-radius: 25px;
    margin: 20px 0px;
}
.login-button:hover{
    background-color: white;
    color: #5138EE;
    border: 0.5px solid #5138EE;
}
.login-signup{
    margin-top: 5px;
    width: 420px;
    display: flex;
    align-items: center;
}
.login-signup p{
    font-size: 16px;
    font-weight: bold;
}
.login-signup a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    color: #7969e0;
    padding-left: 5px;
}

/* .login-copyright {
    margin-bottom: -200px;
  } */
  .login-copyright {
    margin-top: 75px;
    width: 420px;
  }
  .login-copyright p {
    color: rgb(151, 145, 145);
  }


  
  /* XX-Large Devices */
  @media (max-width : 1900px) {
  
  }
  
  
  /* XX-Large Devices */
  @media (max-width : 1600px) {
  }
  
  
  
  /* X-Large Devices */
  @media (max-width : 1400px) { 
    
  }
  
  
  @media (max-width : 1200px) {    
    
  }
  
  @media (max-width : 992px) {
    
  }
  
  @media (max-width : 768px) {
    
  }
  
  @media (max-width : 576px) {
   
  }
  
  
  /*Small Devices */
  @media (max-width : 375px) {
  
  }