.body {
    margin: 0; 
    padding: 0; 
    height: 100vh;
    /* background-color: pink; */
}
/* .header{
    position: fixed;
    width: 100%;
    background-color: white;
} */
.container{
    background-color: #FFFFFF;
    margin: 10px auto;    
    border-radius: 8px;
    display: flex;
    /* height : 100vh */
}

.container p{
    font-size: 20px;
    
}

.container-1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.container-1 img{
    width: 50%;
    border: 1px solid rgb(133, 130, 130);
    border-radius: 8px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    }

.container-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height:40px;
}

#paragraf-1{
    font-weight: bold;
    font-size: 40px;
    text-shadow: 5px 2px 3px #ccc;
}

#paragraf-2{
    padding-right: 100px;
}

#alt-cizgi-kirmizi{
    border-bottom: 3px solid rgb(211, 205, 205);
    border-color: red;
    width: 150px;
}

.container-2-button{
    margin-top: 5%;
}

.container-2-aciklama a{
    text-decoration: none;
    color: rgb(56, 55, 55);
    font-size: 20px;
}
.container-2-aciklama p{
    color: rgb(56, 55, 55);
}

.container-2-button a{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #222222;
    border-radius: 5px;
    letter-spacing: 3px;

}
.container-2-button a:hover{
    color: white;
    background-color: #222222;
}

.uberuns-alt-cizgi{
    border-bottom: 0.5px solid rgb(189, 188, 188);
    margin-top: 0px;
}

